:root {
    --color-first: #000000;
    --color-second: #C2DFE3;
    --color-third:#253237;
    --color-four: #FFFFFF;
}

body{
    background-color: var(--color-third);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    height: 50px;
    font-family: 'Megrim', cursive;
    color: var(--color-first);
}

header .myLogo{
    margin: 4px 0 0 10px;
    width: 30px;
    height: 30px;
}

header .menu {
    display: flex;
}

header .menu ul {
    display: flex;
    align-items: center;
}

header .menu ul li {
    margin: 0 15px;
    
}

header .menu ul li:before {
    content: '\25AA';
    margin: 0 2px;
    color: var(--color-first);
}

button {
    background-color: var(--color-first);
    color: var(--color-four);
    /* width: 100px;
    height: 45px; */
    padding: 12px 18px;
    margin-right: 8px;
    box-shadow: 3px 3px black;
}




